@page
@using nmnielsen.Service.DataTransferObjects
@model nmnielsen.Web.Pages.Project.ProjectListModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary mb-3">
        <h1>Projekter</h1>
    </div>
    <div class="row justify-content-evenly">
        @if (Model.Projects.Count >= 1)
        {
            @foreach (ProjectDTO project in @Model.Projects)
            {
                <div class="card col-3 border-primary">
                    <img src="~/img/@(project.Imagename)" class="border border-primary mt-2" style="max-height: 40%" alt="@project.Name" />
                    <div class="card-header border-primary">
                        <h5 class="card-title mb-0">@project.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@project.ShortDescription</p>
                    </div>
                    <div class="card-footer text-center border-primary">
                        <div class="row text-start">
                            <p class="fw-bold col-6">Projekt status: </p>
                            <p class="col-6">@project.StatusMessage</p>
                        </div>
                        <a asp-route-ProjectId="@project.Id" asp-page="ProjectDetails" class="btn btn-primary">Detaljer</a>
                    </div>
                </div>
            }
        }
    </div>
</div>